<!DOCTYPE htmL>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title> Refabric </title>

    </head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<body>
 <div id = "header2">
          <h1> Refabric <img id='logo'src="logo.png" alt="logo" width="50" height="50"></h1>
          <p> Where trash becomes treasure</p>
          
      </div>
      <h2 class="clear"> Choose a location to upcycle item at:</h2>
        <div class="map">

     <iframe
  width="450"
  height="450"
  frameborder="0" style="border:0"
  referrerpolicy="no-referrer-when-downgrade"
  src="https://storage.googleapis.com/maps-solutions-pandtt94s8/locator-plus/c1g4/locator-plus.html"
    loading="lazy"
  allowfullscreen>
</iframe>
</div>

<h4 class="helpText"> Cant find what your looking for? Tap <a href="resources.html">here</a> to find resources to help!</h4>
     
<div class="backButton">  <a href="upcycle.html"><h4><button>Back</button></h4></a>  </div>

      
     </body>
    
    
</html>