<!DOCTYPE htmL>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title> Refabric </title>

    </head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<body>
      <div id = "header2">
        <h1> Refabric <img id='logo'src="logo.png" alt="logo" width="50" height="50"></h1> 
         
          <p> Where trash becomes treasure</p>
      </div>
          
      <div id = "buttoncontainer">
            <h3>
                  Learn more about the enviormental impacts of your actions by reading this article, once you are done you may continue your upcycling journey!
            </h3>
        
        </div>

        <!-- in the figma theres this rectangle box behind the webites 
        can u add that here and center this  -->
         <div class="article">
      <iframe
      src = "https://earth.org/fast-fashions-detrimental-effect-on-the-environment/"
      width="400" height="400"
      style="border:0;"
      ></iframe>
      </div>
        
      <div id = next>
        <button onclick="location.href='Lrank.html'">Back</button>
        <button onclick="location.href='index.html'">Done Reading</button>
        </div>
        

  
    </body>
    
    
</html>