<!DOCTYPE htmL>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title> Refabric </title>

    </head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<body>
      <div id = "header">
        <h1> Refabric <img id='logo'src="logo.png" alt="logo" width="50" height="50"></h1> 
         
          <p> Where trash becomes treasure</p>
          <div id="logo">
           
          </div>

      </div>
      <h2 class="clear"> Can't find what you're looking for? Here are some resources to help!</h2>
      <div id="resources">
        <ul>
          <li><a href="https://www.earth911.com/">Earth911</a> - Find recycling locations and learn about sustainable practices.</li>
          <li><a href="https://www.upcyclethat.com/">Upcycle That</a> - A blog dedicated to upcycling ideas and inspiration.</li>
          <li><a href="https://www.freecycle.org/">Freecycle</a> - A network for giving and getting items for free in your local community.</li>
          <li><a href="https://www.zerowastehome.com/">Zero Waste Home</a> - Tips and resources for living a zero waste lifestyle.</li>
          <li><a href="https://www.upcyclemagazine.com/">Upcycle Magazine</a> - A magazine focused on upcycling projects and ideas.</li>
        </ul>
     <div class="backButton">
       
      <a href="index.html"><button> Home </button></a>


   </div>

    </body>
    
    
</html>