<!DOCTYPE htmL>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title> Refabric </title>

    </head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<body>
      <div id = "header">
        <h1> Refabric <img id='logo'src="logo.png" alt="logo" width="50" height="50"></h1> 
         
          <p> Where trash becomes treasure</p>
          <div id="logo">
           
          </div>

      </div>
      <h2 class="clear"> Choose a medium to upcycle:</h2>
  
     <div id="buttoncontainer">
      <a href="makeup.html"><button> Cosmetics </button></a>
     
      <button> Electronics </button>
      
      <a href ="furniture.html"><button> Furniture </button></a>
     
      <a href ="clothing.html"><button> Clothing </button></a>
      
      
     <button> Dishware </button>
       
      <a href="index.html"><button> Home </button></a>


   </div>

    </body>
    
    
</html>